<div id="<%= dom_id student %>" class="card mb-3">
  <div class="card-body">
    <p class="card-text">
      <strong>Name:</strong>
      <%= student.name %>
    </p>

    <p class="card-text">
      <strong>Section:</strong>
      <%= student.section %>
    </p>

    <p class="card-text">
      <strong>Marks:</strong>
      <%= student.marks %>
    </p>
  </div>
</div>
